@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold


#check
	display: none

label #btn, label #cancel
	position: absolute	

.tasks
	display: grid
	grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr



.days
	display: grid
	grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
	background: #f6fee6

.days > div
	text-align: center
	height: 10vh
	font-size: 1rem
	line-height: 10vh
	border-bottom: 1px solid #d7d7d7
	border-right: 1px solid #d7d7d7
	text-transform: uppercase


.datas
  display: grid
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr


.datas > div, .hours > div
  background: #ebebeb
  text-align: center
  border-bottom: 1px solid #d7d7d7
  border-right: 1px solid #d7d7d7
  height: 10vh
  font-size: 1rem

.first > div
	background-color: #fff
	max-width: 6.66vw
	font-size: 1rem

.day_working_today
	background-color: #3f9606	
	color: #fff
@import "media" // Always at the end
